<header>
    <h1 class="headingblock">ForecastFlutter</h1>
    <p class="purpose">ForecastFlutter provides soccer/football statistics, soccer betting picks, football betting facts,
         and forecasts to assist you in making the best betting decisions. SoccerVista.com provides all of its soccer 
         information for free. Click the soccer match for more information, including stats, football predictions, and betting picks.</p>
             <ul class="navigators">
                <li><a href="{% url 'home' %}" class="links">Main Page</a></li>
                <li><a href="/" class="links">Community</a></li>
                <li><a href="/" class="links">Bet of the day</a></li>
                <li><a href="/" class="links">Sure odds</a></li>
                <li><a href="/" class="links">Bookmarkers</a></li>
             </ul>
  </header>